<head>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<!-- Loop over each object in the projects array -->
<h1 class="text-rose-400 text-3xl font-bold">We missed you!</h1>
<div class="max-w-xl mx-auto mt-4 p-4 bg-gray-200">
    <h1 class="text-teal-400 text-3xl font-bold">Welcome Back!!</h1>
    <!-- Display the number of days sober -->
    <div class="my-8">
        <p class="text-teal-400 text-lg font-bold">Number of Days Sober:</p>
        <div class="relative pt-1">
            <div class="flex flex-col mb-2 items-center justify-between">

                <div class="my-3">You saved ${{data.moneySaved}} per day</div>
                <div class="my-3">It's been {{data.daysSober}} days</div>
                <div class="my-3 flex flex-row items-center ">You saved a total of $<h1 id="totalMoneyArea"></h1></h1>

            </div>
            
<script>


const daysSober = {{data.daysSober}};
const moneySaved = {{data.moneySaved}}


const totalMoneySaved = daysSober * moneySaved;

  // Get the buttons and count span element
  const countSpan = document.getElementById('count');
  const totalMoneyArea = document.getElementById('totalMoneyArea')

  totalMoneyArea.innerText = totalMoneySaved


  let count = 0; // Initialize the count
  function updateCountDisplay() {
    countSpan.textContent = count + ' Days'; // Add "Days" after the count
  }
  // Initial update of the count display

function getCountFromCookie() {
  const cookieString = document.cookie;
  const cookies = cookieString.split('; ');
  for (const cookie of cookies) {
    const [name, value] = cookie.split('=');
    if (name === 'count') {
      return parseInt(value, 10);
    }
  }
  return 0; // Return a default value if the count is not found in cookies
}

  console.log({{dataObj}});

</script>
        </div>
    </div>
</div>
